.catalog-page {
  padding: 32px 0 56px;

  &__layout {
    display: grid;
    grid-template-columns: 240px minmax(0, 1fr);
    gap: 32px;
    align-items: start;
  }

  &__content {
    min-width: 0;
  }

  .catalog__grid {
     grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .catalog-page__layout {
    grid-template-columns: minmax(0, 1fr);
  }
}